/* Your custom CSS styles here */
        /* For demonstration purposes, let's add some basic styling */
       
      header {
          background-color: #eff6f975;
          color: #131212;
          padding: 10px 0;
          text-align: center;
      }
      nav {
          background-color: #1b9cc4;
          overflow: hidden;
      }
      nav a {
          float: left;
          display: block;
          color: #0f0e0e;
          text-align: center;
          padding: 14px 20px;
          text-decoration: none;
      }
      nav a:hover {
          background-color: #666;
      }
      .content {
          padding: 20px;
          text-align: center;
      }

      .hero-image {
        background-image: url('assets/images/chakra.jpg');
        background-size: cover;
        background-position: center;
        height: 450px; /* Adjust height as needed */
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
      }
      
      h1 {
        text-align: center;
      }
      
      h2 {
        margin-top: 30px;
      }
      
      p {
        line-height: 1.6;
      }
      
      .section {
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        margin-bottom: 20px;
        text-align: center;
      }
      
      .section:last-child {
        border-bottom: none;
      }

      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Optional: align content vertically */
        min-height: 100vh; /* Optional: ensure the wrapper fills the viewport height */
    }

    